{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb"], // airbnb plugin includes airbnb-base and react
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "object-curly-newline": ["warn", {
      "ImportDeclaration": "never"
    }],
    "comma-dangle": ["error", "never"],
    "max-len": "off"
  }
}